.svg-delete-icon{
  svg{
    width: 120px !important;
    height: 120px !important;
    max-height: unset !important;
  }
}
.flag-lang button {
  padding: 5px;
  border: none;
}

.flag-lang button span span {
  color: var(--kt-text-gray-700);
}
.skiptranslate{
  display: none;
}
#google_translate_element{
  display: none;
}
div#goog-gt-tt {
  display: none !important;
}
.app-footer{
  // background-color: #1E1E2D !important;
  // background-image: url('https: //web.programming-hero.com/static/media/footerbg.10d6ca49.jpg');
  span{
    color: white;
    .link{
      color: white !important;
    }
  }
}